#update {
  width: 100%;
}
#update .container {
  width: 100%;
  max-width: 1752px;
  padding: 0 76px;
  margin: 0 auto;
  height: 1600px;
}
#update .container .gap {
  width: 100%;
}
#update .container .gap .content {
  width: 100%;
  margin-top: 200px;
  display: flex;
}
#update .container .gap .content .left-box {
  width: 200px;
}
#update .container .gap .content .left-box .sub-menu-box h2 {
  color: #333;
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
}
#update .container .gap .content .left-box .sub-menu-box .sub-menu-mypage {
  margin-top: 43px;
}
#update .container .gap .content .left-box .sub-menu-box .sub-menu-mypage .sub-menu-tit {
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  margin: 30px 0;
  color: #333;
}
#update .container .gap .content .left-box .sub-menu-box .sub-menu-mypage .sub-menu-tit .sub-menu-detail .detail-tit {
  font-size: 15px;
  font-weight: 300;
  color: #a8a8a8;
  line-height: 22.5px;
  padding: 8px 0;
}
#update .container .gap .content .right-box {
  width: calc(100% - 240px);
  padding-left: 40px;
}
#update .container .gap .content .right-box .mypage-update .update-tit {
  padding-bottom: 10px;
  margin-bottom: 50px;
  border-bottom: 1px solid #dbdbdb;
}
#update .container .gap .content .right-box .mypage-update .update-tit h2 {
  font-size: 18px;
  font-weight: 700;
  color: #333;
  line-height: 27px;
}
#update .container .gap .content .right-box .mypage-update .update-form .mypage-inf #formJoin .member-inf h3 {
  color: #333;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  padding-bottom: 17px;
}