#update {
    width:100%;
    .container {
        width:100%;
        max-width: 1752px;
        padding: 0 76px;
        margin:0 auto;
        height:1600px;
        .gap {
            width:100%;
            .content {
                width:100%;
                margin-top :200px;
                display:flex;
                .left-box {
                    width:200px;
                    .sub-menu-box {
                        h2 {
                            color:#333;
                            font-size: 28px;
                            font-weight: 700;
                            line-height: 42px;
                        }
                        .sub-menu-mypage {
                            margin-top:43px;
                            .sub-menu-tit {
                                font-size: 18px;
                                font-weight: 700;
                                line-height: 27px;
                                margin: 30px 0;
                                color:#333;
                                .sub-menu-detail {
                                    .detail-tit {
                                        font-size: 15px;
                                        font-weight: 300;
                                        color:#a8a8a8;
                                        line-height: 22.5px;
                                        padding: 8px 0;
                                    }
                                }
                            }
                        }
                    }
                }
                .right-box {
                    width:calc(100% - 240px);
                    padding-left:40px;
                    .mypage-update {
                        .update-tit {
                            padding-bottom :10px;
                            margin-bottom: 50px;
                            border-bottom: 1px solid #dbdbdb;
                            h2 {
                                font-size: 18px;
                                font-weight: 700;
                                color:#333;
                                line-height: 27px;
                            }
                        }
                        .update-form {
                            .mypage-inf {
                                #formJoin {
                                    .member-inf {
                                        h3   {
                                            color:#333;
                                            font-size: 18px;
                                            font-weight: 400;
                                            line-height: 27px;
                                            padding-bottom: 17px;
                                        }
                                        span {}
                                        .member-base-inf {
                                            table {
                                                colgroup {
                                                    col {}
                                                }
                                                tbody {
                                                    tr {
                                                        th {
                                                            span {}
                                                        }
                                                        td {
                                                            input {}
                                                            .member-birth {
                                                                .chosen-single {}
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}