@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

#section4 {
    width: 100%;
    padding : 100px 0;
    .container {
        width: 100%;
        max-width: 1600px;
        margin:0 auto;
       
        .gap {
            width: 100%;
            padding: 0 76.109px;
            .title {
                width: 100%;
                padding: 0 0 30px 0;
                h2 {
                    color:#1a1a1a;
                    font-size: 42px;
                    font-weight: 300;
                    text-align: center;
                    font-family: 'ivypresto-display', serif;
                    letter-spacing: -3px;
                    line-height: 56px;
                    visibility: visible;
                    animation-duration: 1s;
                    animation-delay: 0s;
                    animation-name: fadeInUp;
                 
                }
            }
            .content {
                width: 100%;
                
                .title2 {
                    width: 100%;
                    ul {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        li {
                            position: relative;
                            margin: 0 10px;
                            text-align: center;
                            padding: 0 0 100px 0;

                           a {
                            
                            display: block;
                            font-size: 17px;
                            padding: 0 0 3px 0;
                                &.on {
                                    color: #000;
                                    border-bottom: 1px solid #000;
                                }
                           }
                            
                        }
                    }
                }
                .top {
                    display: flex;
                    justify-content: space-between;
                    .product_box {
                        width: 345.328px;
                        display: block;
                        
                        ul {
                            width: 100%;
                            li {
                                width: 100%;
                                .item_cont {
                                    width: 345.328px;
                                    height: 406.141px;
                                    // display: block;
                                    
                                    .item_photo_box {
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;
                                        a {
                                            img {
                                                width: 345px;
                                                height: 247px;
                                                .item_link {
                                                    .inner {
                                                        button {
                                                            img {

                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .item_info_cont {
                                        padding: 20px 0 10px 0;
                                        .item_tit_box {
                                            text-align: left;
                                            padding: 5px 0;
                                            .item_name {
                                                font-size: 16px;
                                                padding: 0 0 10px 0;
                                            }
                                            .item_name_explain {
                                                font-size: 13px;
                                                color:#7e9fc2;
                                                padding: 10px 0 0 0;
                                            }
                                        }
                                        .item_money_box {
                                            padding: 10px 0 ;
                                            .item_sale {
                                                display: inline-block;
                                                padding: 0 8px 0 0;
                                                font-size: 14px;
                                                color: #a8a8a8;
                                            }
                                            .m_price {
                                                font-size: 16px;
                                                color: #000;
                                            }
                                            .sale_per {

                                            }
                                        }
                                        .item_icon_box {
                                            img {
                                                display: inline-block;
                                            margin: 0 5px 0 0;
                                            }
                                        }
                                        .item_review_cnt {
                                            margin:21px 0 0 0;
                                            ul {
                                                li {
                                                    a {
                                                        width: 100%;
                                                    .material-symbols-outlined{
                                                       
                                                    }
                                                    span {} 
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .bottom {
                    padding: 80px 0 0 0;
                    display: flex;
                    justify-content: space-between;
                    .product_box {
                        width: 345.328px;
                        display: block;
                        
                        ul {
                            width: 100%;
                           
                            li {
                                width: 100%;
                                .item_cont {
                                    width: 345.328px;
                                    height: 406.141px;
                                    // display: block;
                                    
                                    .item_photo_box {
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;
                                        a {
                                            width: 100%;
                                            img {
                                                width: 345px;
                                                height: 247px;
                                                position: relative;
                                                .item_link {
                                                    position: relative;
                                                    .inner {
                                                        width: 345.328px;
                                                        height: 56px;
                                                        position: relative;
                                                        button {
                                                            width: 100%;
                                                            position: absolute;
                                                            bottom: 0;
                                                            
                                                            z-index: 5;
                                                            &:first-child{
                                                                width: 172.672px;
                                                                height: 56px;
                                                            }
                                                            &:last-child{}
                                                            &.on {
                                                                
                                                                color: #5f0080;
                                                                background-color: #fafafa;
                                                                background-image: url(../../../../../public/img/product_01.png);
                                                            }
                                                            &:hover{
                                                                color: #5f0080;
                                                                background-color: #fafafa;
                                                                background-image: url(../../../../../public/img/product_01.png);
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .item_info_cont {
                                        padding: 20px 0 10px 0;
                                        .item_tit_box {
                                            text-align: left;
                                            padding: 5px 0;
                                            .item_name {
                                                font-size: 16px;
                                                padding: 0 0 10px 0;
                                            }
                                            .item_name_explain {
                                                font-size: 13px;
                                                color:#7e9fc2;
                                                padding: 10px 0 0 0;
                                            }
                                        }
                                        .item_money_box {
                                            padding: 10px 0 ;
                                            .item_sale {
                                                display: inline-block;
                                                padding: 0 8px 0 0;
                                                font-size: 14px;
                                                color: #a8a8a8;
                                            }
                                            .m_price {
                                                font-size: 16px;
                                                color: #000;
                                            }
                                            .sale_per {

                                            }
                                        }
                                        .item_icon_box {
                                            
                                            width: 100%;
                                            img {
                                            display: inline-block;
                                            margin: 0 5px 0 0;
                                              
                                               
                                            }
                                        }
                                        .item_review_cnt {
                                            margin:21px 0 0 0;
                                            ul {
                                                li {
                                                    a {
                                                    .xi-comment-o{}
                                                    span {} 
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}